*{  /*Universal selector in CSS */
    background-color: none;
}
h1{   /*Name selector in CSS */
    color: blue;
    font-style:unset;
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
}
.test{    /*Class selector in CSS */
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    font-weight: bold;
}
#demoid{   /*Id selector in CSS */
    background-color: rgb(255, 0, 0);
    color: whitesmoke;
    padding: 10px;
    font-weight: bold;
}
b, i{    /*Name selector in CSS */
    color: #000000;
    font-family: cursive;
    

}
.scroll{
    display: block;
    border: 5px solid red;
    padding: 5px;
    margin-top: 5px;
    height: 200px;
    width: 500px;
    overflow: scroll;
}
